*{
    margin: 0;
    padding: 0;
}
.body{
    background: url(./img/download.jpg);
    background-attachment:fixed;
    background-size:contain;
    height: 10%;
    width: 100%;
}
.logo{   
    width: 120px;
    /* height: 70px; */
    /* display: flex; */
    /* padding-left: 0px 20px ; */
    cursor: pointer;
}
/* ////////////////////////////navbar///////////////////////////// */
.navbar{
    width: 85%;
    margin: auto;
    border-radius: 20px;
    padding: 7px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00ff99;
}
.navbar ul li{
    display: inline-block;
    margin: 0px 20px;
    position: relative;
    list-style: none;
}

.navbar ul li a{
    color:black;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
}
.navbar ul li::after{
    width: 0%;
    content: "";
    height: 3px;
    position: absolute;
    background:black; 
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    text-align: center;
    justify-content: center;
    margin-top: 250px;
}
.content h1{
    color:#00faff;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    margin-top:80px ;
}
.content p{
    color:#00faff;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    margin: 10px 0px;
}
button{
    padding: 15px 0px;
    margin: 20px 10px;
    background:transparent;
    font-weight: bold;
    color: red;
    position: relative;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border-radius: 30px;
    width:200px;
    border: 3px solid aqua;
}
span{
    background-color: cyan;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:-1 ;
    transition: 0.5s;
}
button:hover span{
width: 100%;
}
button:hover{
    border: none;
}
