*{
    margin: 0;
    padding: 0;
}
.body{
    background: url(./66-666819_website-design-background-creative-background-image-for-website.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.logo{   
    width: 120px;
    /* height: 70px; */
    /* display: flex; */
    /* padding-left: 0px 20px ; */
    cursor: pointer;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    display: inline-block;
    margin: 0px 20px;
    position: relative;
    list-style: none;
}

.navbar ul li a{
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
}
.navbar ul li::after{
    width: 0%;
    content: "";
    height: 3px;
    position: absolute;
    background:#00ff99; 
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li::after:hover{
    width: 100%;
        
}